In [177]:
import pandas as pd

In [178]:
df_fixture=pd.read_csv('fifa_worldcup_fixture.csv')
df_matches=pd.read_csv('fifa_worldcup_matches.csv')
df_missing=pd.read_csv('fifa_worldcup_missing_data.csv')

In [179]:
df_matches.head()

         home score     away  year
0     France    4–1   Mexico  1930
1  Argentina    1–0   France  1930
2      Chile    3–0   Mexico  1930
3      Chile    1–0   France  1930
4  Argentina    6–3   Mexico  1930

In [180]:
df_fixture.head()

           home     score          away  year
0        Qatar    Match 1       Ecuador  2022
1      Senegal    Match 2   Netherlands  2022
2        Qatar   Match 18       Senegal  2022
3  Netherlands   Match 19       Ecuador  2022
4      Ecuador   Match 35       Senegal  2022

In [181]:
df_missing.head()

            home score           away  year
0        Mexico    0–0   Soviet Union  1970
1       Belgium    3–0    El Salvador  1970
2  Soviet Union    4–1        Belgium  1970
3        Mexico    4–0    El Salvador  1970
4  Soviet Union    2–0    El Salvador  1970

In [182]:
# Quito los espacios en blanco que tiene la columna
df_fixture['home']=df_fixture['home'].str.strip()
df_fixture['away']=df_fixture['away'].str.strip()

In [183]:
df_missing.dropna(inplace=True)
df_matches=pd.concat([df_missing,df_matches],ignore_index=True).drop_duplicates()
df_matches.sort_values(by='year',inplace=True)

In [184]:
eliminar=df_matches[df_matches['home'].str.contains('Sweden') & 
           df_matches['away'].str.contains('Austria')].index
df_matches.drop(index=eliminar,inplace=True)

In [185]:
df_matches['score']=df_matches['score'].str.replace('[^\d–]','',regex=True)

In [186]:
df_matches['home']=df_matches['home'].str.strip()
df_matches['away']=df_matches['away'].str.strip()
df_matches['score']=df_matches['score'].str.strip()

In [187]:
df_matches[['HomeGoals','AwayGoals']]=df_matches['score'].str.split('–',expand=True)
df_matches['HomeGoals']=df_matches['HomeGoals'].str.strip()
df_matches['AwayGoals']=df_matches['AwayGoals'].str.strip()

del df_matches['score']

In [188]:
df_matches.rename(columns={'home':'HomeTeams','away':'AwayTeams','year':'Year'},inplace=True)

In [191]:
df_matches=df_matches.astype({'HomeGoals':int,'AwayGoals':int})
df_fixture.head()

          home     score         away  year
0        Qatar   Match 1      Ecuador  2022
1      Senegal   Match 2  Netherlands  2022
2        Qatar  Match 18      Senegal  2022
3  Netherlands  Match 19      Ecuador  2022
4      Ecuador  Match 35      Senegal  2022

In [190]:
df_matches.to_csv('clean_fifa_worldcup_matches.csv',index=False)
df_fixture.to_csv('clean_fifa_worldcup_fixture.csv',index=False)